@tailwind base;
@tailwind components;
@tailwind utilities;



.searc-btn {
   color: white ;
   font-weight: 600;
   background: red;
   border: 2px solid transparent;
}

.searc-btn:hover {
   color: red ;
   border: 2px solid red;
   background: white;
}

.exercise-card {
   border-top: 2px solid red;
   width: 300px;
}